### Loading data from csv to database

In [72]:
import pandas as pd
import pyodbc

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=LAPTOP-4QT1T3CT;'
                      'Database=Airbnb_db;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()

In [73]:
cursor.execute('CREATE TABLE Listings ( id int, listing_url nvarchar(50),  \
                scrape_id int, \
               last_scraped date, \
               name nvarchar(100), \
               description  nvarchar(1050), \
               neighborhood_overview  nvarchar(1050),\
               picture_url nvarchar(150), \
               host_id int, \
               host_url nvarchar(50), \
               host_name nvarchar(50), \
               host_since date, \
               host_location nvarchar(50), \
               host_about nvarchar(2900), \
               host_response_time nvarchar(50), \
               host_response_rate nvarchar(50), \
               host_acceptance_rate nvarchar(50), \
               host_is_superhost nvarchar(50), \
               host_thumbnail_url nvarchar(150), \
               host_picture_url nvarchar(150), \
               host_neighbourhood nvarchar(50), \
               host_listings_count  float, \
               host_total_listings_count  float, \
               host_verifications nvarchar(200), \
               host_has_profile_pic nvarchar(50), \
               host_identity_verified  nvarchar(50), \
               neighbourhood nvarchar(50),\
               neighbourhood_cleansed nvarchar(50), \
               neighbourhood_group_cleansed nvarchar(50), \
               latitude float, \
               longitude float, \
               property_type nvarchar(50), \
               room_type  nvarchar(50), \
               accommodates int , \
               bathrooms float, \
               bathrooms_text nvarchar(50), \
               bedrooms int, \
               beds int, \
               amenities nvarchar(1300), \
               price nvarchar(50), \
               minimum_nights int, \
               maximum_nights int, \
               minimum_minimum_nights int, \
               maximum_minimum_nights int, \
               minimum_maximum_nights int , \
               maximum_maximum_nights int, \
               minimum_nights_avg_ntm float, \
               maximum_nights_avg_ntm float, \
               calendar_updated float, \
               has_availability nvarchar(1), \
               availability_30 int , \
               availability_60 int, \
               availability_90 int, \
               availability_365 int, \
               calendar_last_scraped date, \
               number_of_reviews int, \
               number_of_reviews_ltm int, \
               number_of_reviews_l30d int, \
               first_review date, \
               last_review date, \
               review_scores_rating int, \
               review_scores_accuracy  int, \
               review_scores_cleanliness  int, \
               review_scores_checkin  int, \
               review_scores_communication int, \
               review_scores_location int, \
               review_scores_value int, \
               license nvarchar(50), \
               instant_bookable nvarchar(1), \
               calculated_host_listings_count int , \
               calculated_host_listings_count_entire_homes  int, \
               calculated_host_listings_count_private_rooms int, \
               calculated_host_listings_count_shared_rooms int, \
               reviews_per_month float)')

In [74]:
conn.commit()

In [9]:
files= ['Barcelona, Catalonia, Spain', 'Bergamo, Lombardia, Italy', 'Lisbon, Lisbon, Portugal']

In [86]:
for file in files:
    data = pd.read_csv (f'data\{file}.csv', na_values="")   
    df = pd.DataFrame(data)

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2317 entries, 0 to 2316
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            2317 non-null   int64
 1   listing_url                                   2317 non-null   object
 2   scrape_id                                     2317 non-null   int64
 3   last_scraped                                  2317 non-null   object
 4   name                                          2317 non-null   object
 5   description                                   2262 non-null   object
 6   neighborhood_overview                         1308 non-null   object
 7   picture_url                                   2317 non-null   object
 8   host_id                                       2317 non-null   int64
 9   host_url                                      2317 non-null   object
 10  host_name                                     2242 non-null   object
 11  host_since                                    2242 non-null   object
 12  host_location                                 2238 non-null   object
 13  host_about                                    1019 non-null   object
 14  host_response_time                            1571 non-null   object
 15  host_response_rate                            1571 non-null   object
 16  host_acceptance_rate                          1645 non-null   object
 17  host_is_superhost                             2242 non-null   object
 18  host_thumbnail_url                            2242 non-null   object
 19  host_picture_url                              2242 non-null   object
 20  host_neighbourhood                            39 non-null     object
 21  host_listings_count                           2242 non-null   float64
 22  host_total_listings_count                     2242 non-null   float64
 23  host_verifications                            2317 non-null   object
 24  host_has_profile_pic                          2242 non-null   object
 25  host_identity_verified                        2242 non-null   object
 26  neighbourhood                                 1308 non-null   object
 27  neighbourhood_cleansed                        2317 non-null   object
 28  neighbourhood_group_cleansed                  0 non-null      float64
 29  latitude                                      2317 non-null   float64
 30  longitude                                     2317 non-null   float64
 31  property_type                                 2317 non-null   object
 32  room_type                                     2317 non-null   object
 33  accommodates                                  2317 non-null   int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                2316 non-null   object
 36  bedrooms                                      2213 non-null   float64
 37  beds                                          2301 non-null   float64
 38  amenities                                     2317 non-null   object
 39  price                                         2317 non-null   object
 40  minimum_nights                                2317 non-null   int64
 41  maximum_nights                                2317 non-null   int64
 42  minimum_minimum_nights                        2317 non-null   int64
 43  maximum_minimum_nights                        2317 non-null   int64
 44  minimum_maximum_nights                        2317 non-null   int64
 45  maximum_maximum_nights                        2317 non-null   int64
 46  minimum_nights_avg_ntm                        2317 non-null   float64
 47  maximum_nights_avg_ntm                        2317 non-null   float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              2317 non-null   object
 50  availability_30                               2317 non-null   int64
 51  availability_60                               2317 non-null   int64
 52  availability_90                               2317 non-null   int64
 53  availability_365                              2317 non-null   int64
 54  calendar_last_scraped                         2317 non-null   object
 55  number_of_reviews                             2317 non-null   int64
 56  number_of_reviews_ltm                         2317 non-null   int64
 57  number_of_reviews_l30d                        2317 non-null   int64
 58  first_review                                  1738 non-null   object
 59  last_review                                   1738 non-null   object
 60  review_scores_rating                          1709 non-null   float64
 61  review_scores_accuracy                        1709 non-null   float64
 62  review_scores_cleanliness                     1709 non-null   float64
 63  review_scores_checkin                         1709 non-null   float64
 64  review_scores_communication                   1709 non-null   float64
 65  review_scores_location                        1709 non-null   float64
 66  review_scores_value                           1709 non-null   float64
 67  license                                       159 non-null    object
 68  instant_bookable                              2317 non-null   object
 69  calculated_host_listings_count                2317 non-null   int64
 70  calculated_host_listings_count_entire_homes   2317 non-null   int64
 71  calculated_host_listings_count_private_rooms  2317 non-null   int64
 72  calculated_host_listings_count_shared_rooms   2317 non-null   int64
 73  reviews_per_month                             1738 non-null   float64
dtypes: float64(19), int64(21), object(34)
memory usage: 1.3+ MB

In [88]:
date_cols=['last_scraped', 'host_since', 'calendar_last_scraped', 'first_review', 'last_review']

In [89]:
int_cols=['host_listings_count', 'host_total_listings_count', 'bedrooms', 'beds', 
          'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin',
          'review_scores_communication', 'review_scores_location', 'review_scores_value']

In [90]:
str_cols=['neighbourhood_group_cleansed']

In [91]:
for col in date_cols:
    df[col]=pd.to_datetime(df[col])

In [92]:
df.neighbourhood_group_cleansed=df.neighbourhood_group_cleansed.astype(str)

### INSERT DATA

In [93]:
for row in df.itertuples():
    cursor.execute('''
                INSERT INTO Listings
                VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
                ''',
                row.id, row.listing_url, row.scrape_id, row.last_scraped, 
                row.name, row.description, row.neighborhood_overview, 
                row.picture_url, row.host_id, row.host_url,
                 row.host_name, row.host_since, row.host_location, row.host_about,
                 row.host_response_time, row.host_response_rate, row.host_acceptance_rate,
                 row.host_is_superhost, row.host_thumbnail_url, row.host_picture_url,
                 row.host_neighbourhood, row.host_listings_count,
                 row.host_total_listings_count, row.host_verifications,
                 row.host_has_profile_pic, row.host_identity_verified, row.neighbourhood,
                 row.neighbourhood_cleansed, row.neighbourhood_group_cleansed, row.latitude,
                 row.longitude, row.property_type, row.room_type, row.accommodates, row.bathrooms,
                 row.bathrooms_text, row.bedrooms, row.beds, row.amenities, row.price,
                 row.minimum_nights, row.maximum_nights, row.minimum_minimum_nights,
                 row.maximum_minimum_nights, row.minimum_maximum_nights,
                 row.maximum_maximum_nights, row.minimum_nights_avg_ntm,
                 row.maximum_nights_avg_ntm, row.calendar_updated, row.has_availability,
                 row.availability_30, row.availability_60, row.availability_90,
                 row.availability_365, row.calendar_last_scraped, row.number_of_reviews,
                 row.number_of_reviews_ltm, row.number_of_reviews_l30d, row.first_review,
                 row.last_review, row.review_scores_rating, row.review_scores_accuracy,
                 row.review_scores_cleanliness, row.review_scores_checkin,
                 row.review_scores_communication, row.review_scores_location,
                 row.review_scores_value, row.license, row.instant_bookable,
                 row.calculated_host_listings_count,
                 row.calculated_host_listings_count_entire_homes,
                 row.calculated_host_listings_count_private_rooms,
                 row.calculated_host_listings_count_shared_rooms, row.reviews_per_month
                )
conn.commit()

ProgrammingError: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 24 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

In [85]:
sum(df.host_total_listings_count.isna())

75

In [119]:
df = pd.read_excel('data\TOUR_OCC_ARN2$DEFAULTVIEW1621782256780.xlsx', 'Sheet 1', skiprows=9, nrows=494)

In [120]:
df

,TIME,2015,Unnamed: 2,2016,Unnamed: 4,2017,Unnamed: 6,2018,Unnamed: 8,2019,Unnamed: 10
0,GEO (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,European Union - 27 countries (from 2020),331052355,NaN,346490274,NaN,374967422,e,392936908,e,406907066,NaN
2,European Union - 28 countries (2013-2020),375326474,NaN,389959878,NaN,421718616,e,440606716,e,457076390,e
3,European Union - 27 countries (2007-2013),362782965,NaN,376252434,NaN,406136912,e,423971703,e,439728334,e
4,"Euro area (EA11-1999, EA12-2001, EA13-2007, EA...",285186445,NaN,296604423,NaN,320653862,e,335717829,e,347795516,NaN
...,...,...,...,...,...,...,...,...,...,...,...
489,Crna Gora,1559924,NaN,1662121,NaN,843609,b,:,NaN,:,NaN
490,North Macedonia,479152,NaN,508300,NaN,626879,NaN,702833,NaN,755438,NaN
491,Severna Makedonija,479152,NaN,508300,NaN,626879,NaN,702833,NaN,755438,NaN
492,Severna Makedonija,479152,NaN,508300,NaN,626879,NaN,702833,NaN,755438,NaN
493,Serbia,1127284,NaN,1277956,NaN,:,NaN,:,NaN,:,NaN