### Testing Eurostat and Airbnb data join

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

In [7]:
eurostat = pd.read_csv('eurostat_data.csv')

In [8]:
eurostat.head()

,Country,CountryCode,Region,RegionCode,TouristArrivals,TouristEstablishments,AirPassengers,Population
0,Spain,ES,Basque Country,ES21,3866136,1232,6353000.0,2177880
1,Spain,ES,Comunidad de Madrid,ES30,13774677,1929,59747000.0,6641649
2,Spain,ES,Catalonia,ES51,26155473,6698,54693000.0,7566431
3,Spain,ES,Valencia,ES52,12363818,3990,23401000.0,4974969
4,Spain,ES,Islas Baleares,ES53,12425741,2772,40285000.0,1188220

In [10]:
airbnb = pd.read_csv('airbnb_data_comma.csv')

In [11]:
airbnb.head()

,id,scrape_id,last_scraped,name,host_id,host_name,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_has_profile_pic,host_identity_verified,latitude,longitude,property_type,room_type,accommodates,bathrooms_type,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,availability_365,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,reviews_per_month,city,region,country,bathrooms
0,18674,20210412154247,2021-04-13,Huge flat for 8 people close to Sagrada Familia,71615,Mireia And Maria,2010-01-19,within a day,50%,80%,f,34,t,t,41.40556,2.17262,Entire apartment,Entire home/apt,8,private,3,6,"[""Air conditioning"", ""Host greets you"", ""Essen...",157.0,1,1125,27,21,2013-05-27,2019-11-01,88,9,10,10,10,10,9,t,0.22,Barcelona,Catalonia,Spain,2.0
1,23197,20210412154247,2021-04-14,Forum CCIB DeLuxe★Spacious &Elegant ★Large Bal...,90417,Etain (Marnie),2010-03-09,within an hour,100%,78%,f,2,t,t,41.41291,2.22063,Entire apartment,Entire home/apt,6,private,3,5,"[""High chair"", ""Washer"", ""Refrigerator"", ""Sham...",220.0,3,300,359,52,2011-03-15,2019-12-15,95,10,10,10,10,9,9,f,0.42,Barcelona,Catalonia,Spain,2.0
2,32711,20210412154247,2021-04-14,Sagrada Familia area - Còrsega 1,135703,Nick,2010-05-31,within an hour,100%,100%,f,5,t,t,41.40566,2.17015,Entire apartment,Entire home/apt,6,private,2,3,"[""High chair"", ""Washer"", ""Refrigerator"", ""Sham...",144.0,2,31,0,63,2011-07-17,2020-02-22,86,9,9,10,10,10,9,t,0.53,Barcelona,Catalonia,Spain,1.5
3,34241,20210412154247,2021-04-15,Private Double room - Plaza Real,73163,Andres,2010-01-24,within an hour,90%,70%,f,3,t,t,41.38062,2.17517,Private room in apartment,Private room,2,private,1,1,"[""Dishwasher"", ""Air conditioning"", ""Oven"", ""Wi...",50.0,30,240,0,8,2010-07-10,2013-07-15,68,8,8,7,9,8,7,f,0.06,Barcelona,Catalonia,Spain,1.0
4,34981,20210412154247,2021-04-15,VIDRE HOME PLAZA REAL on LAS RAMBLAS,73163,Andres,2010-01-24,within an hour,90%,70%,f,3,t,t,41.37978,2.17623,Entire apartment,Entire home/apt,9,private,4,6,"[""High chair"", ""Washer"", ""Refrigerator"", ""Sham...",243.0,4,365,114,149,2010-10-03,2020-03-11,91,10,9,10,10,10,9,f,1.16,Barcelona,Catalonia,Spain,3.0

In [12]:
airbnb.shape

(188437, 43)

In [14]:
pd.merge(airbnb, eurostat, how='inner', on=None, left_on=['region', 'country'], right_on=['Region', 'Country']).shape

(188437, 51)